#playerList li {
    padding: 4px 6px;
    border-radius: 6px;
    cursor: pointer;
}

#playerList li.selected {
    background-color: rgba(255, 255, 255, 0.2);
}

#playerList span {
    display: inline-block;
    height: 14px;
    line-height: 16px;
    vertical-align: top;
}

.playerNbStates {
    width: 24px;
    margin: 0 6px 0 2px;
    text-align: right;
}

.playerNbSoldiers {
    float: right;
}

.playerIcon {
    width: 14px;
    margin-right: 8px;
    border-radius: 14px;
    border: 1px solid #C3C3C3;
}